---

---
<div class="project-frame">
    <cite>
        <p>Basta con insertar alguna de estas lineas:</p>
        <ul>
            <li>
                Dentro de <code>&lt;Head&gt;</code>:
                <pre><code>&lt;link rel="stylesheet" href="style.css"&gt;</code></pre>
            </li>
            <li>
                Como import en Astro:
                <pre><code>import '../styles/styles.css';</code></pre>
            </li>
        </ul>
    </cite>
</div>