---
import '../6/DiaSeisStyles.css';
---

<div class="project-frame">
    <details>
        <summary>Section 1</summary>
        <section>
            <p>Contenido de la seccion.</p>
        </section>
    </details>
    <details>
        <summary>Section 2</summary>
        <section>
            <p>Contenido de la seccion.</p>
        </section>
    </details>
    <details>
        <summary>Section 3</summary>
        <section>
            <p>Contenido de la seccion.</p>
        </section>
    </details>
    <details>
        <summary>Section 4</summary>
        <section>
            <p>Contenido de la seccion.</p>
        </section>
    </details>
</div>