:root {
  --parchment-light: #fdf6e3;
  --parchment-base: #f5e6c4;
  --parchment-mid: #e0cfa9;
  --parchment-dark: #c8b28e;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: "Eagle Lake", serif;
    font-style: normal;
    font-weight: 400;
    height: 100dvh;
    width: 100dvw;
    background-color: darkslategrey;
}

ul {
    list-style-type: upper-roman;
    font-size: 18px;
    margin-left: 3rem;
}

li {
    margin-bottom: .4rem;
}

.main-frame {
    display: flex;
    width: 80%;
    height: 100%;
    max-width: 640px;
    margin: auto;
    padding: 3rem;
}

.paper-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: max-content;
    border: 1px solid var(--parchment-dark);
    box-shadow: 0 0 32px var(--parchment-dark) inset;

    & .paper-head {
        height: 32px;
        background-color: var(--parchment-mid);
    }

    & .paper-content {
        padding: 1rem;
        background-image: linear-gradient(180deg, var(--parchment-mid) 0%, var(--parchment-light) 50%, var(--parchment-dark) 100%);
    }

    & .paper-foot {
        height: 32px;
        background-color: var(--parchment-dark);
    }
}