---
import '../styles/ProjectCard.css'
const { title, description } = Astro.props; 
---

<section class="project-card">
    <header class="project-title">
        <h2>{title}</h2>
    </header>
    <main class="project-content">
        <header class="project-description">
            <p>{description}</p>
        </header>
        <slot />
    </main>
</section>