---
import '../2/DiaDosStyles.css';
---

<div class="project-frame">
    <div class="album-frame">
        <section class="album-text">
            <h3>Korn - See You On the Other Side</h3>
            <p>See You on the Other Side (2005) marcó una etapa de transición para Korn, siendo el primer álbum tras la salida del guitarrista Brian "Head" Welch. El disco mostró una evolución en su sonido, incorporando más elementos industriales y electrónicos, en parte gracias a la colaboración con los productores de The Matrix y Atticus Ross. Aunque mantiene la agresividad y el tono oscuro característico de la banda, el álbum explora nuevas texturas que lo diferencian de sus trabajos anteriores.</p>
            <p>El material fue bien recibido tanto comercial como críticamente, destacando sencillos como “Twisted Transistor” y “Coming Undone”, que lograron gran rotación en radio y televisión musical de la época. Estas canciones reflejan una faceta más accesible de Korn, sin dejar de lado la intensidad emocional y los riffs pesados que siempre los han caracterizado. La mezcla de coros pegajosos con bases rítmicas contundentes ayudó a que el disco atrajera a un público más amplio.</p>
            <p>Además de ser un experimento sonoro, See You on the Other Side representa la resiliencia de Korn en un momento complicado de su historia. El álbum consolidó su capacidad de reinventarse y mantenerse relevantes dentro de la escena del metal alternativo. Su influencia se puede notar en bandas posteriores que también intentaron fusionar la crudeza del nu-metal con sonidos electrónicos más modernos, asegurando así un lugar especial en la discografía del grupo.</p>
        </section>
        <section class="album-container">
            <img src="../DiaDos/500x500-000000-80-0-0.jpg" alt="">
            <ol class="album-list">
                <li>Twisted Transistor</li>
                <li>Politics</li>
                <li>Hypocrites</li>
                <li>Souvenir</li>
                <li>10 or a 2-way</li>
                <li>Throw Me Away</li>
                <li>Love Song</li>
                <li>Open Up</li>
                <li>Coming Undone</li>
                <li>Getting Off</li>
                <li>Liar</li>
                <li>For No One</li>
                <li>See It All</li>
                <li>Tearjerker</li>
            </ol>
        </section>
    </div>
</div>