---
import '../9/DiaNueveStyles.css';
---

<div class="project-frame">
    <div class="paper-container">
        <div class="paper-head">

        </div>
        <div class="paper-content">
            <details>
                <summary>Desenrrollar</summary>
                <ul>
                    <li>No tendrás dioses ajenos delante de mí.</li>
                    <li>No te harás imagen ni ninguna semejanza de lo que esté arriba en el cielo, ni en la tierra, ni en las aguas debajo de la tierra.</li>
                    <li>No tomarás el nombre de Jehová tu Dios en vano.</li>
                    <li>Acuérdate del día de reposo para santificarlo.</li>
                    <li>Honra a tu padre y a tu madre.</li>
                    <li>No matarás.</li>
                    <li>No cometerás adulterio.</li>
                    <li>No hurtarás.</li>
                    <li>No hablarás contra tu prójimo falso testimonio.</li>
                    <li>No codiciarás los bienes ajenos.</li>
                </ul>
            </details>
        </div>
        <div class="paper-foot">

        </div>
    </div>
</div>