---
import '../8/DiaOchoStyles.css';
---

<div class="project-frame">
    <section class="exercise-eight">
        <p>Este es un ejercicio para el challenge #8 del sitio <strong>lenguajehtml.com</strong> creado por <strong>Manz.dev</strong>.</p>
    </section>
</div>