.exercise-eight {
    display: flex;

    & strong {
        color: blueviolet;
        animation: ticks 5s linear 0s infinite forwards running;
    }
}

@keyframes ticks {
    50% {
        color: red;
    }
    100% {
        color: blueviolet;
    }
}